.navbar{
  background-color: #03203C;
  
}

.menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list a:hover{
  color: black;
  background-color: darkseagreen;
  border-radius: 6px;
}
.logo{
  color: ivory;
  font-weight: bolder;
  letter-spacing: 1px;
  // border: 1px solid #E5D68A;
  // padding: 12px 6px;
  // border-radius: 12px;
  
}
.nav-items{
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  @media screen and (max-width:450px) {
    grid-template-columns: 1fr .4fr;
  }
}
.call-to-action{
display: flex;
gap: 60px;
align-items: center;

@media screen and (max-width:450px) {
  gap: 20px;
  padding-right:2px ;
  align-items: center;
}
}
.svg{
  width: 40px;
  height: 40px;
  @media screen and (max-width:450px) {
    width: 30px;
    height: 30px;
  }
}
.footer{
  height: 220px;
  flex: 1;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr;
  .activities{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
  }
  .social-media{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
  }
  @media screen and (max-width:450px) {
    padding-top: 10px;
  }
}