<div>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" [ngClass]="{'is-active':burgerMenuActive}" (click)="burgerIconClicked()" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu"  [ngClass]="{'is-active':burgerMenuActive,'is-hidden':!burgerMenuActive}">
      <ul class="menu-list">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>