.navbar{
  background-color: #EDC126;
  
}

.menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list a:hover{
  color: black;
  background-color: darkseagreen;
  border-radius: 6px;
}
.logo{
  color: #000;
  font-weight: bolder;
  letter-spacing: 1px;
  // border: 1px solid #E5D68A;
  // padding: 12px 6px;
  // border-radius: 12px;
  
}